html {background-color: #E0E0E0;}
body {background-color: #E0E0E0; width: 80%; margin: 0 auto; background-color: #fff;}
main {padding: 10px; height: 200vmax;}
header {background-color: black; height: 120PX;}
header img {height: 80%; padding: 10PX; margin: 0 10PX; float: left;}
header h1 {padding-top: 10PX; color: white; height: 70%; margin-top: 0; padding-top: -0.1EM;}
nav {padding: 10PX; margin: 10PX 10PX 20PX 0PX; border: 1px solid #000; width: fit-content;}
pre {margin-bottom: 0;}
nav h1 {margin-top: 0.1EM;}
a {color: #225CC8;} a:visited {color: #225CC8;} a:hover {background-color: #FFFF99;} a:active {background-color: #FFFF99; color: red;}
footer {height: 50PX; background-color: black; /*333333*/ padding: 20PX 10PX;}
footer a {color: white; padding: 10PX;}
footer a:hover {background-color: transparent; color: lightgrey;} footer a:active {color: red;}
.credits { padding: 0.5EM 0 0.5EM 1EM; width: 100%; margin: 14PX 10PX 0 -10PX; bottom: 0; color: white; background-color: #444444;}
.title {padding: .1EM 0 6PX .2EM; margin-bottom: 0.1EM; background: linear-gradient(90DEG, #000000 0%, #FFFFFF 100%); color: white;}
.left {float: left;}
.clear {clear: both;}
.top-nav {display: block; display: flex; flex-flow: row;}
.top-nav a {padding: 15px; color: white; float: left; text-decoration: none;}
.top-nav a:hover {background-color: grey;}
.top-nav a:active {padding: 13px; border: 3px solid white;}
.top-nav .active {background-color: white; color: black; padding-bottom: 17PX;}
.em {display: inline-block; margin: 0.2EM 0;}
.exco-hierarchy {border-spacing: 0;}
.exco-hierarchy h1 {margin: 0; margin-bottom: 0.2EM;}
.exco-hierarchy img {height: 100PX; margin: 0 auto; display: block; image-rendering: crisp-edges;}
.h {background-size: cover; image-rendering: pixelated;} /* hierarchy */
.h img {background-size: cover; image-rendering: pixelated;}
.hd {background-size: cover; image-rendering: pixelated; background-image: url('down.png'); height: 10PX;}
#bigleftspace {margin-left: 18%;}
#nospace {padding-left: 25PX;}

@media only screen and (max-width: 600px) {
    body {width: 100%; margin: 0;}
    main {height: fit-content;}
    .top-nav {overflow: scroll;}
    .top-nav a {background-color: black; color: white;}
    header {margin-bottom: 25%;}
    main {height: 100vmax;}
    #bigleftspace {margin-left: 0;}
    nav {width: 100%;}

  }